<template>
  <div class="apropos">
        <Title msg="Crypto Club"/>
        <TitlePage msg="À propos"/>
        <AproposInformation/>

   
    
  </div>
</template>
<script>

// @ is an alias to /src
import Title from '@/components/Title.vue'
import TitlePage from '@/components/TitlePage.vue'
import AproposInformation from '@/components/AproposInformation.vue'



export default {
  name: 'Home',
  components: {
    Title,
    TitlePage,
    AproposInformation

  }
}
</script>
