<template>
  <div class="home " >
    <Title msg="Crypto Club"/>
     <TitlePage msg="News"/>

    <CryptoNews/>
     
  </div>
</template>

<script>
// @ is an alias to /src
import CryptoNews from '@/components/CryptoNews.vue'
import Title from '@/components/Title.vue'
import TitlePage from '@/components/TitlePage.vue'



export default {
  name: 'Home',
  components: {
    CryptoNews,
    Title,
    TitlePage,

  }
}
</script>
