<template>
  <div class="login">
   
    <Title msg="Crypto Club"/>
    <TitlePage msg="Login"/>
    <SignIn/>
       

  </div>
</template>

<script>

// @ is an alias to /src
import Title from '@/components/Title.vue'
import TitlePage from '@/components/TitlePage.vue'
import SignIn from '@/components/SignIn.vue'




export default {
  name: 'Login',
  components: {
    Title,
    TitlePage ,
    SignIn

  },

    }
</script>

