<template class="AproposInformation">
           <div class="box">
               
              <div class="card">
                    <div class="card-image">
                   </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-left">
                            <figure class="image is-128x128">
                                  <img  src="../assets/ulco.jpg" alt="">
                            </figure>
                        </div>
                        
                       
                            <div class="title">Projet Réalisé par : BENRABH FAROUK</div>
                        
                        </div>

                        <div class="content">
                         Ce projet est réalisé le dans le cadre du module "Framework web front" 
                         en Master 2 Informatique - Web et Science de données à l'Université du Littoral Côte d'Opale .<br>
                         Version 1.0 du 14/02/2022 .<br>
                         Api Utilisé : <a href="https://min-api.cryptocompare.com">https://min-api.cryptocompare.com .</a>
                        
                        <br>
                        
                        <br><br><br><br><br><br>

                     

                        </div>
                    </div>
                </div>
            </div>
</template>

<script>

export default {
    
   name: 'AproposInformation',
  components: {
  
  }
}
</script>

<style scoped>
 


.box {
 box-shadow: inset 0 0 0 30px #FFD700; /* <-- 10px spread radius */
  border: 5px solid black;
}



</style>