<template>
 

    
   <section class="hero  is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <div class="box">
            <div class="field" >
                
              <label for="" class="label">Email</label>
               <a v-if="!noAfficher" style="color:black" >Bonjour </a>
              <a v-if="!usernameStable" style="color:green">  {{username}}</a>
              <div class="control has-icons-left">
                 
                <input type="username" v-model="username"  placeholder="farouk" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password"  v-model="password"  :class="{ error: !nPasswordOk}"  placeholder="" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="checkbox">
                <input type="checkbox">
               Remember me
              </label>
            </div>
                            <div v-if="!nPasswordOk" class="error-msg" style="color:#FF0000"    >Le mot de passe ne doit pas être vide</div>
                            <div v-if="!compteValide" class="error-msg" style="color:#FF0000">Mot de passe incorect</div>



            
              <button class="button is-success" @click="validers()">
                Login
              </button>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
     
 

</template>

<script>

export default {
  name: 'SignIn',
   data: () => ({
            username: '',
            password: '',
            compteValide:true,
            usernameStable:true,
            noAfficher:true
        
   }),
   mounted() { this.noAfficher=false },
   computed:{
         nPasswordOk(){
                return this.password !== ''
            },
       
   },
   methods:{
    validers(){
            if(this.password != 'farouk' || this.password != 'farouk'){this.compteValide=false}
        }
   },
   watch: {
    username: function() {
    this.usernameStable=false
    }
  }
}
</script>

<style scoped>
 

</style>
