<template>
 
    <div class='titlePage '>{{msg}}  </div>


</template>

<script>
export default {
  name: 'TitlePage',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.titlePage{
    font-size: 40px;
text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;
        color:#fff;
        display: inline;
  border-bottom: 3px solid #FFD700;
  flex-direction: row;
}

</style>
