<template>
 
    <div class='title1 '>
<a class="dollars">$</a>{{msg}}<a class="dollars">$</a>
           </div>


</template>

<script>
export default {
  name: 'Title',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.dollars{
  color:#FFD700;
}
.title1{
  color:#fafafa;
  font-family: 'Pirata One', cursive;
  letter-spacing: 0.2em;
  font-size: 10.0rem;
  display: block; font-size: 8em;  margin-bottom: 0.67em; margin-left: 0; margin-right: 0; font-weight: bold;
}

</style>
