<script>
import SidebarLink from './SidebarLink'
import { collapsed, toggleSidebar, sidebarWidth } from './state'

export default {
  props: {},
  components: { SidebarLink },
  setup() {
    return { collapsed, toggleSidebar, sidebarWidth }
  }
}
</script>

<template>
  <div class="sidebar" :style="{ width: sidebarWidth }">
    <div class='title'>
      <span v-if="collapsed">
        <div ><a class="dollars">$</a>C</div>
        <div  >C<a class="dollars">$</a></div>
      </span>
      <span  v-else><a class="dollars">$</a>Crypto Club<a class="dollars">$</a></span>
    </div>

    <SidebarLink to="/" icon="fas fa-home">Accueil</SidebarLink>
    <SidebarLink to="/apropos" icon="fas fa-info">A propos</SidebarLink>
    <SidebarLink to="/login" icon="fas fa-sign-in">Se connecter</SidebarLink>


    <span
      class="collapse-icon"
      :class="{ 'rotate-180': collapsed }"
      @click="toggleSidebar"
    >
      <i class="fas fa-angle-double-left" />
    </span>
  </div>
</template>

<style>
:root {
  --sidebar-bg-color: #000000;
  --sidebar-item-hover: #FFD700;
  --sidebar-item-active: #FFD700;
}
</style>

<style scoped>
.dollars{
  color:#FFD700;
}
.title{
  color:#fafafa;
  font-family: 'Pirata One', cursive;
  letter-spacing: 0.2em;
  font-size: 2.2rem;
  display: block; font-size: 2em; margin-top: 0.67em; margin-bottom: 0.67em; margin-left: 0; margin-right: 0; font-weight: bold;
}
.sidebar {
  color: white;
  background-color: var(--sidebar-bg-color);

  float: left;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0.5em;

  transition: 0.3s ease;

  display: flex;
  flex-direction: column;
}

.sidebar h1 {
  height: 2.5em;
}

.collapse-icon {
  position: absolute;
  bottom: 0;
  padding: 0.75em;

  color: rgba(255, 255, 255, 0.7);

  transition: 0.2s linear;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: 0.2s linear;
}
</style>
